.table {
  .cellWrapper {
    display: flex;
    align-items: center;

    .image {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      margin-right: 10px;
      object-fit: cover;
    }
  }

  .status {
    padding: 5px;
    border-radius: 5px;

    &.Approved {
      background-color: rgba(0, 128, 0, 0.15);
      color: green;
    }

    &.Pending {
      background-color: rgba(255, 165, 0, 0.15);
      color: orange;
    }
  }
}
